#BASIC STATISTICS-2

##Problem Statement : Hospital Patient Data Analysis

In [70]:
import pandas as pd
import numpy as np

###1. Load the patient dataset and show summary with info().

In [71]:
df1= pd.read_csv('Billing_Data.csv')
df2= pd.read_csv('Patient_Data.csv')

In [72]:
df1.head()

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [73]:
df2.head()

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

###2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [74]:
bill_col_df = merged_df[['PatientID', 'Department', 'Doctor', 'BillAmount']]

In [75]:
print(bill_col_df.head())

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

###3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [76]:
# Drop the specified administrative columns and store the result in a new DataFrame
data_df = merged_df.drop(columns=['ReceptionistID', 'CheckInTime'])

In [77]:
#Display the first few rows and column information of the new DataFrame
print(data_df.head())

   PatientID     Name   Department     Doctor  BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith      5000.0              2000
1        102      Bob    Neurology   Dr. John         NaN              1500
2        103  Charlie  Orthopedics    Dr. Lee      7500.0              2500
3        104    David   Cardiology  Dr. Smith      6200.0              3000
4        105      Eva  Dermatology   Dr. Rose         NaN              1000

   FinalAmount
0         3000
1         3500
2         5000
3         3200
4         4000

###4.	Use groupby to find total bill amount per department.

In [36]:
# Group by 'Department' and sum the 'BillAmount' for each department.
total_bill= data_df.groupby('Department')['BillAmount'].sum().sort_values(ascending=False)

print("Total Bill Amount per Department")
print(total_bill)

Total Bill Amount per Department
Department
Cardiology     16200.0
Orthopedics     7500.0
Dermatology        0.0
Neurology          0.0
Name: BillAmount, dtype: float64

###5.	Remove duplicate patient records based on PatientID

In [79]:
# Drop duplicates based on 'PatientID'.
cleaned_df= data_df.drop_duplicates(subset=['PatientID'])

In [43]:
#Data After Removing Duplicate Patient Records
print(cleaned_df.head())

   PatientID  InsuranceCovered  FinalAmount     Name   Department     Doctor  \
0        101              2000         3000    Alice   Cardiology  Dr. Smith
2        102              1500         3500      Bob    Neurology   Dr. John
3        103              2500         5000  Charlie  Orthopedics    Dr. Lee
4        104              3000         3200    David   Cardiology  Dr. Smith
5        105              1000         4000      Eva  Dermatology   Dr. Rose

   BillAmount
0      5000.0
2         NaN
3      7500.0
4      6200.0
5         NaN

In [44]:
#Column Information After Cleaning
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 5
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
 3   Name              5 non-null      object
 4   Department        5 non-null      object
 5   Doctor            5 non-null      object
 6   BillAmount        3 non-null      float64
dtypes: float64(1), int64(3), object(3)
memory usage: 320.0+ bytes

###6.	Fill missing BillAmount values with the mean bill amount.

In [45]:
#Calculate the mean of the bill amount column.
mean_amt= cleaned_df['BillAmount'].mean()

In [80]:
#Impute missing values in the bill amount column with the calculated mean.
impute_df = cleaned_df.copy()
impute_df['BillAmount'] = impute_df['BillAmount'].fillna(mean_amt)

print(f"Calculated Mean Bill Amount: {mean_amt:.2f}")

Calculated Mean Bill Amount: 6233.33

###7.	Merge the billing dataset with patient dataset on PatientID.

In [52]:
merged_df = pd.merge(df2, df1, on='PatientID')

#DataFrames Merged on PatientID
print(merged_df.head())

   PatientID     Name   Department     Doctor  BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith      5000.0               1
1        102      Bob    Neurology   Dr. John         NaN               2
2        103  Charlie  Orthopedics    Dr. Lee      7500.0               1
3        104    David   Cardiology  Dr. Smith      6200.0               3
4        105      Eva  Dermatology   Dr. Rose         NaN               2

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000

###8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [53]:
# 1. Create the DataFrame for new patients.
new_patients= {
    'PatientID': [106, 107],
    'Name': ['Mark', 'Stev'],
    'Department': ['Pediatrics', 'Oncology'],
    'Doctor': ['Dr. sham', 'Dr. raki'],
    'BillAmount': [4000.0, 15000.0],
    'InsuranceCovered': [1000, 5000],
    'FinalAmount': [3000, 10000]
}

In [54]:
new_patients_df = pd.DataFrame(new_patients)

In [55]:
final_df = pd.concat([impute_df, new_patients_df])

In [56]:
#Data After Concatenating New Patient Records
print(final_df)

   PatientID  InsuranceCovered  FinalAmount     Name   Department     Doctor  \
0        101              2000         3000    Alice   Cardiology  Dr. Smith
2        102              1500         3500      Bob    Neurology   Dr. John
3        103              2500         5000  Charlie  Orthopedics    Dr. Lee
4        104              3000         3200    David   Cardiology  Dr. Smith
5        105              1000         4000      Eva  Dermatology   Dr. Rose
0        106              1000         3000     Mark   Pediatrics   Dr. sham
1        107              5000        10000     Stev     Oncology   Dr. raki

     BillAmount
0   5000.000000
2   6233.333333
3   7500.000000
4   6200.000000
5   6233.333333
0   4000.000000
1  15000.000000

In [57]:
#Final Data Information
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 1
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         7 non-null      int64
 1   InsuranceCovered  7 non-null      int64
 2   FinalAmount       7 non-null      int64
 3   Name              7 non-null      object
 4   Department        7 non-null      object
 5   Doctor            7 non-null      object
 6   BillAmount        7 non-null      float64
dtypes: float64(1), int64(3), object(3)
memory usage: 448.0+ bytes

###9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [58]:
#Create a core patient DataFrame.
patient_core_df = impute_df.drop(columns=['InsuranceCovered', 'FinalAmount'])

In [63]:
#Define the core billing data needed.
billing_core_df = df1[['PatientID', 'InsuranceCovered', 'FinalAmount']].drop_duplicates(subset=['PatientID'])

In [65]:
#Data After Column-Wise Merge
print(merged_df.head())

   PatientID     Name   Department     Doctor  BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith      5000.0               1
1        102      Bob    Neurology   Dr. John         NaN               2
2        103  Charlie  Orthopedics    Dr. Lee      7500.0               1
3        104    David   Cardiology  Dr. Smith      6200.0               3
4        105      Eva  Dermatology   Dr. Rose         NaN               2

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000

In [66]:
#Final Merged Columns Information
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         6 non-null      int64
 1   Name              6 non-null      object
 2   Department        6 non-null      object
 3   Doctor            6 non-null      object
 4   BillAmount        4 non-null      float64
 5   ReceptionistID    6 non-null      int64
 6   CheckInTime       6 non-null      object
 7   InsuranceCovered  6 non-null      int64
 8   FinalAmount       6 non-null      int64
dtypes: float64(1), int64(4), object(4)
memory usage: 564.0+ bytes